@charset "UTF-8";

body#space {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(espaco.jpg);
    height: 98vh;
}

div#worker {
    height: 75vh;
    background-repeat: no-repeat;
    background-image: url(astronauta.png);
    background-position: center center;
}